In [1]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://www.worldometers.info/coronavirus/')

In [3]:
response.status_code

200

In [4]:
soup1 = BeautifulSoup(response.text, 'html.parser')#'lxml')  # build tree

In [5]:
s= soup1.find_all('tr')
str1 = ""      
# traverse in the string   
for ele in s:
    ss=str(ele)
    str1 += ss
    
soup3 = BeautifulSoup(str1, 'html.parser')

In [6]:
len(soup3.find_all('td', attrs={'class':""}))

3312

In [7]:
item_list= []
for mp in range(3312):
    item_list.append(soup3.find_all('td', attrs={'class':""})[mp].string)

len(item_list)

3312

In [8]:
countries = []
e=0
for i in range(3312):
    if e < 3312:
        countries.append(item_list[e])
        e+=9

In [9]:
len (countries)

368

In [10]:
total_cases = []
e=1
for i in range(3312):
    if e < 3313:
        total_cases.append(item_list[e])
        e+=9

In [11]:
len(total_cases)

368

In [12]:
new_cases = []
e=2
for i in range(3312):
    if e < 3313:
        new_cases.append(item_list[e])
        e+=9

In [13]:
len(new_cases)

368

In [14]:
total_deaths = []
e=3
for i in range(3312):
    if e < 3313:
        total_deaths.append(item_list[e].strip())
        e+=9

In [15]:
len(total_deaths)

368

In [16]:
new_deaths = []
e=4
for i in range(3312):
    if e < 3313:
        new_deaths.append(item_list[e])
        e+=9

In [17]:
len(new_deaths)

368

In [18]:
total_recovered = []
e=5
for i in range(3312):
    if e < 3313:
        total_recovered.append(item_list[e])
        e+=9

In [19]:
len(total_recovered)

368

In [20]:
active_cases = []
e=6
for i in range(3312):
    if e < 3313:
        active_cases.append(item_list[e])
        e+=9

In [21]:
len(active_cases)

368

In [22]:
serious_critical = []
e=7
for i in range(3312):
    if e < 3313:
        serious_critical.append(item_list[e])
        e+=9

In [23]:
len(serious_critical)

368

In [24]:
tot_cases_1M_pop = []
e=8
for i in range(3312):
    if e < 3313:
        tot_cases_1M_pop.append(item_list[e])
        e+=9

In [25]:
len(tot_cases_1M_pop)

368

In [26]:
df = pd.DataFrame()
df['countries']=countries
df['total_cases']= total_cases 
df['new_cases']= new_cases
df['total_deaths']= total_deaths
df['new_deaths']= new_deaths
df['total_recovered']= total_recovered
df['active_cases']= active_cases
df['serious_critical']= serious_critical
df['tot_cases/1M pop']= tot_cases_1M_pop
COVID_19 = df.head(187)
COVID_19

,countries,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious_critical,tot_cases/1M pop
0,China,"81,008",+41,"3,255",+7,"71,740","6,013","1,927",56
1,Italy,"47,021","+5,986","4,032",+627,"5,129","37,860","2,655",778
2,Spain,"21,510","+3,433","1,093",+262,"1,588","18,829",939,460
3,Germany,"19,848","+4,528",68,+24,180,"19,600",2,237
4,Iran,"19,644","+1,237","1,433",+149,"6,745","11,466",None,234
5,USA,"19,469","+5,680",258,+51,147,"19,064",64,59
6,France,"12,612","+1,617",450,+78,"1,587","10,575","1,297",193
7,S. Korea,"8,652",+87,94,+3,"2,233","6,325",59,169
8,Switzerland,"5,615","+1,393",56,+13,15,"5,544",None,649
9,UK,"3,983",+714,177,+33,65,"3,741",20,59
10,Netherlands,"2,994",+534,106,+30,2,"2,886",210,175
11,Austria,"2,649",+470,6,None,9,"2,634",14,294
12,Belgium,"2,257",+462,37,+16,204,"2,016",164,195
13,Norway,"1,957",+167,7,None,1,"1,949",27,361
14,Sweden,"1,639",+200,16,+5,16,"1,607",21,162
15,Denmark,"1,255",+104,9,+3,1,"1,245",37,217
16,Canada,"1,077",+204,12,None,14,"1,051",1,29
17,Malaysia,"1,030",+130,3,+1,87,940,26,32
18,Portugal,"1,020",+234,6,+2,5,"1,009",26,100
19,Brazil,970,+330,11,+4,2,957,18,5
20,Japan,963,+20,33,None,215,715,50,8
21,Australia,928,+172,7,None,46,875,2,36
22,Czechia,833,+139,,None,4,829,6,78
23,Diamond Princess,712,None,8,+1,527,177,14,None
24,Israel,705,+28,1,+1,15,689,10,81
25,Ireland,683,+126,3,None,5,675,6,138
26,Turkey,670,+311,9,+5,None,661,None,8
27,Pakistan,501,+47,3,+1,13,485,None,2
28,Greece,495,+31,10,+4,19,466,20,47
29,Luxembourg,484,+149,5,+1,6,473,1,773
...,...,...,...,...,...,...,...,...,...
157,Bhutan,2,+1,,None,None,2,None,3
158,Greenland,2,None,,None,None,2,None,35
159,Guinea,2,+1,,None,None,2,None,0.2
160,Haiti,2,+2,,None,None,2,None,0.2
161,Isle of Man,2,+1,,None,None,2,None,24
162,Liberia,2,None,,None,None,2,None,0.4
163,Mauritania,2,None,,None,None,2,None,0.4
164,New Caledonia,2,None,,None,None,2,None,7
165,Nicaragua,2,+1,,None,None,2,None,0.3
166,Saint Lucia,2,None,,None,None,2,None,11
167,Zambia,2,None,,None,None,2,None,0.1
168,Nepal,1,None,,None,1,0,None,0.03
169,Angola,1,+1,,None,None,1,None,0.03
170,Antigua and Barbuda,1,None,,None,None,1,None,10
171,Cabo Verde,1,+1,,None,None,1,None,2
172,Chad,1,None,,None,None,1,None,0.06
173,Djibouti,1,None,,None,None,1,None,1
174,El Salvador,1,None,,None,None,1,None,0.2
175,Fiji,1,None,,None,None,1,None,1
176,Gambia,1,None,,None,None,1,None,0.4
177,Vatican City,1,None,,None,None,1,None,"1,248"
178,Montserrat,1,None,,None,None,1,None,200
179,Niger,1,None,,None,None,1,None,0.04
180,Papua New Guinea,1,+1,,None,None,1,None,0.1
181,St. Vincent Grenadines,1,None,,None,None,1,None,9
182,Sint Maarten,1,None,,None,None,1,None,23
183,Somalia,1,None,,None,None,1,None,0.06
184,Eswatini,1,None,,None,None,1,None,0.9
185,Zimbabwe,1,+1,,None,None,1,None,0.07
186,Total:,"275,531","30,598","11,385","1,354","91,533","172,613","7,765",35.3

In [27]:
COVID_19.to_csv('COVID-19.csv')